{{!-- Title --}}
<div class="jumbotron jumbotron-fluid" id="titletron">
  <h1 class="text-center" id="title">
    <strong>
      <i class="fa fa-newspaper-o"></i> New York Times Articles </strong>
  </h1>
</div>

{{!-- Navbar --}}
<div>
  {{> nav/navbar}}
</div>

{{!-- Main --}}
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <br>

      <div class="card">
        <div class="card-header">
          <strong>
            <i class="fa fa-table"></i> Articles
          </strong>
        </div>

        <!-- This main card will hold each of the resulting articles -->
        <div class="card-body" id="article-section">
          {{!-- {{#each articleTitle}} --}}
            {{!-- <div> {{articleTitle}} </div> --}}
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Region -->
  <div class="row">
    <div class="col-sm-12">

      <!-- Line Break followed by closing -->
      <hr>
      <h5 class="text-center">
        <small> Copyright Luke
        </small>
      </h5>

    </div>
  </div>

</div>
