{{!-- Title --}}
<nav>
  <div>
    {{> header/jumbo}}
  </div>
</nav>

{{!-- Navbar --}}
<nav>
  <div class="nav nav-tabs nav-fill" id="navTabs" role="tabList">
    <a class="nav-item nav-link active" href="#articles" data-toggle="tab" aria-controls="articles" aria-selected="true" id="articleTab"> Articles </a>
    <a class="nav-item nav-link" href="#saved" data-toggle="tab" aria-controls="saved" aria-selected="false" id="savedTab"> Saved Articles </a>
  </div>
</nav>

{{!-- Main --}}
<div class="container">
  <div class="tab-content" id="myTabContent">
    {{!-- Articles --}}
    <div class="tab-pane fade show active" id="articles" role="tabpanel" aria-labelledby="articles-tab">
      {{!-- Card --}}
      <div class="row">
        <div class="col-sm-12">
          <br>
          <div class="card">
            <div class="card-header">
              <strong>
                <i class="fas fa-book-open"></i>
                Articles
              </strong>
            </div>

            {{!-- Card for scraped articles --}}
            <div class="card-body" id="scrapedArticles">
              <ul class="list-group list-group-flush">
                {{#each articles}}
                  <li class="list-group-item" class="articleTitle"> {{title}}
                    <div class="float-right">
                      <button type="button" class="linkBtn btn" href="{{link}}">
                        <i class="fas fa-link fa-2x"></i>
                      </button>
                      <button type="button" class="saveBtn btn">
                        <i class="fas fa-save fa-2x"></i>
                      </button>
                    </div>
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{!-- Saved --}}
    <div class="tab-pane fade" id="saved" role="tabpanel" aria-labelledby="saved-tab">
      {{!-- Card --}}
      <div class="row">
        <div class="col-sm-12">
          <br>
          <div class="card">
            <div class="card-header">
              <strong>
                <i class="fas fa-book-open"></i>
                Saved
              </strong>
            </div>

            {{!-- Card for saved articles --}}
            <div class="card-body" id="savedArticles">
              <ul class="list-group list-group-flush">
                {{!-- {{#each saved}} --}}
                <li class="list-group-item" class="articleTitle"> Test saved
                  <div class="float-right">
                    <button type="button" class="linkBtn btn" href="#">
                      <i class="fas fa-link fa-2x"></i>
                    </button>
                    <button type="button" class="saveBtn btn">
                      <i class="fas fa-save fa-2x"></i>
                    </button>
                  </div>
                </li>
                {{!-- {{/each}} --}}
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Region -->
  <div class="row">
    <div class="col-sm-12">

      <hr>

      <h5 class="text-center">
        <small> Copyright Luke
        </small>
      </h5>

    </div>
  </div>
</div>
