{{!-- Title --}}
<header class="jumbotron jumbotron-fluid" id="titletron">
  <h1 class="text-center" id="title">
    <strong>
      <i class="fa fa-newspaper-o"></i> 
      New York Times Articles 
    </strong>
  </h1>
</header>

{{!-- Navbar --}}
<nav class="nav nav-tabs nav-fill" id="navTabs" role="tabList">
  <a class="nav-item nav-link active" href="#articles" data-toggle="tab" aria-controls="articles" aria-selected="true" id="articleTab"> Articles </a>
  <a class="nav-item nav-link" href="#saved" data-toggle="tab" aria-controls="saved" aria-selected="false" id="savedTab"> Saved Articles </a>
</nav>

{{!-- Main --}}
<div class="container">
  <div class="tab-content" id="myTabContent">
    {{!-- Articles --}}
    <section class="tab-pane fade show active" id="articles" role="tabpanel" aria-labelledby="articles-tab">
      {{> sections/articles}}
    </section>

    {{!-- Saved --}}
    <section class="tab-pane fade" id="saved" role="tabpanel" aria-labelledby="saved-tab">
      {{> sections/saved}}
    </section>
  </div>
2
  <!-- Footer Region -->
  <footer class="row">
    <div class="col-sm-12">

      <hr>

      <h5 class="text-center">
        <small> Copyright Luke
        </small>
      </h5>

    </div>
  </footer>
</div>
