{{!-- Title --}}
<div>
  {{> header/jumbo}}
</div>

{{!-- Navbar --}}
<div>
  {{> header/navbar}}
</div>

{{!-- Main --}}
<div class="container">
  {{!-- Card --}}
  <div class="row">
    <div class="col-sm-12">
      <br>
      <div class="card">
        <div class="card-header">
          <strong>
            <i class="fas fa-book-open"></i>
            Articles {{msg}}
          </strong>
        </div>

        <div class="card-body" id="scrapedArticles">
          <ul class="list-group list-group-flush">
            {{#each artObject}}
            <li class="list-group-item" class="articleTitle"> {{title}}
              <div class="float-right">
                <button type="button" class="linkBtn btn" href="{{link}}">
                  <i class="fas fa-link fa-2x"></i>
                </button>
                <button type="button" class="saveBtn btn">
                  <i class="fas fa-save fa-2x"></i>
                </button>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Region -->
  <div class="row">
    <div class="col-sm-12">

      <hr>

      <h5 class="text-center">
        <small> Copyright Luke
        </small>
      </h5>

    </div>
  </div>
</div>
