{{!-- Title --}}
<header class="jumbotron jumbotron-fluid" id="titletron">
  <h1 class="text-center" id="title">
    <strong>
      <i class="fa fa-newspaper-o"></i> 
      New York Times Articles 
    </strong>
  </h1>
</header>

{{!-- Main --}}
<section >
  {{!-- Card --}}
  <div class="row">
    <div class="col-sm-12">
      <div class="card loadingCard">
        <div class="card-header text-center" id="pawHeader">
          <strong>
            {{msg}}
            <i class="fas fa-paw" id="pawOne"></i>
            <i class="fas fa-paw"id="pawTwo"></i>
            <i class="fas fa-paw" id="pawThree"></i>
          </strong>
        </div>

        {{!-- Card for loading gif --}}
        <div class="card-body mx-auto" id="loadingGif">
         <iframe src="https://giphy.com/embed/H54R9ULqkR5bG" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/newspaper-H54R9ULqkR5bG"></p></a></p>
        </div>
      </div>
    </div>
  </div>
</section>

  <!-- Footer Region -->
<footer>
  <div class="row">
    <div class="col-sm-12">

      <hr style="margin-top:0">

      <h5 class="text-center">
        <small> Copyright Luke
        </small>
      </h5>

    </div>
  </div>
</footer>
