/* ================ Body ================ */
body, html {
  font-family: 'Noticia Text', serif;
}

/* ===============  Title =============== */
#titletron {
  background-image: url("/assets/img/coverImg.jpg");
  background-size: cover;
  background-position: bottom;
  height: 300px;
  background-color: brown;
  color: white;
  margin-bottom: 0;
}

#title {
  font-family: 'Rye', cursive;
  font-size: 5.5rem;
  color: black;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

/* =============== Navbar =============== */
a.nav-link.active {
  color: #567b95 !important;
}

a.nav-link {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

/* ============== Articles ============== */
.linkBtn {
  color: #567b95;
}

.saveBtn {
  color: green;
}

li {
  line-height: 48px;
}