/* ================ Body ================ */

body, html {
  font-family: 'Noticia Text', serif;
}

/* ===============  Title =============== */

#titletron {
  background-image: url("/assets/img/coverImg.jpg");
  background-size: cover;
  background-position: bottom;
  height: 300px;
  background-color: brown;
  color: white;
  margin-bottom: 0;
}

#title {
  font-family: 'Rye', cursive;
  font-size: 5.5rem;
  color: black;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

/* =============== Navbar =============== */

a.nav-link.active {
  color: #567b95 !important;
}

a.nav-link {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

/* ============== Articles ============== */

.linkBtn {
  color: #567b95;
}

.saveBtn {
  color: green;
}

.btn {
  background-color: transparent;
  border-radius: 50%;
}

.btn:hover{
  color: white;
  background-color: #567b95;
}

li {
  line-height: 48px;
}

a {
  background-color: transparent;
}

/* =============== Saved  =============== */

.trashBtn {
  color: black
}

.noteBtn {
  color: yellow;
}

.seenBtn {
  color: blue;
}

/* ============ Loading Card ============ */

.loadingCard {
  background-color: rgb(34, 34, 34)
}

#pawHeader {
  background-color: black;
  color: white;
}

/* ========= Loading Card Paws  ========= */
@keyframes loading {
  0%   {color: rgba(0, 0, 0, 0);}
  25%  {color: rgba(255, 255, 255, 0.333);}
  50%  {color: rgba(255, 255, 255, 0.666);}
  100% {color: rgb(255, 255, 255);}
}

.fa-paw {
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

#pawTwo {
  animation-delay: .5s;
}

#pawThree{
  animation-delay: .75s;
}