<ul class="nav nav-tabs nav-fill" id="navTabs">
  <li class="nav-item">
    <a class="nav-link active" href="/articles" data-toggle="tab" aria-selected="true"> Articles </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/saved" data-toggle="tab" aria-selected="false"> Saved Articles </a>
  </li>
</ul>